html {
    font-family: Arial, Helvetica, sans-serif, serif;
}

h1 {
    font-weight: 400;
    text-align: center;
}

h3 {
    font-weight: 300;
    text-align: center;
}

h4 {
    font-weight: 700;
    text-align: center;
    color:rgb(139,0,139);
}

h5 {
    font-weight: 700;
    text-align: center;
    color:rgb(139,0,139);
}

header {
    background-color: lightseagreen;
    color:white;
    padding-top: 20px;
    padding-bottom: 10px;
    background-image: url("Images/img-bio-screenshot-logo-03-02.png");
    background-repeat: no-repeat;
}

#container {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    padding: 10px;
}

#container-about {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    padding: 3px;
}

#container-hobbies {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    padding: 3px;
}

#container-accomplishments {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    padding: 3px;
}


#navbar {
    overflow: hidden;
    background-color: rgb(139,0,139);
    border-bottom: solid cadetblue 10px;
    width: 100%;
}

#navbar a {
    float: left;
    display: block;
    color:lightgrey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: white;
    color:rgb(119,57,243);
}

#container-landing {
    background-color: rgb(147,173,221);
    color:rgb(119,57,243);
    font-style: italic;
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 95px;
    background-image: url(Images/img-bio-landing-portrait-01.jpg);
    background-repeat: no-repeat;
    background-position: 50rem;
}

#container-about {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    padding: 3px;
}


#container-about img {
    padding-right: 2%;
}

#container-about h2 {
    color:rgb(119,57,243);
    font-weight: 700;
    text-align: center;
}

#container-landing h1 {
    font-weight: 700;
    text-align: left;
}

footer {
    background-color:lightseagreen;
    position: fixed;
    bottom: 0;
    width: 98%;
    float: right;
    padding-right: 10px;
    font-weight: 400;
    background-color:lightseagreen;
}

footer a {
    color: white;
    font-weight: 400;
    float: right;
    padding-top: 10px;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: rgb(139,0,139);
}